@import url(http://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900);

/* MOBILE */

@media only screen and (max-width: 600px) {
	.fullnavBtn {
		top: 1%;
		right: 3%;
	}
	.fullnavBtn.active{
		top: 4%;
		right: 4%;
	}
}

/* PC */

@media only screen and (min-width: 600px) {
	.fullnavBtn {
		top: 20%;
		right: 10%;
	}
	.fullnavBtn.active{
		top: 8.5%;
		right: 14%;
	}
}

/* HAMBURGER BUTTON */

.fullnavBtn {
	position: absolute;
	height: 27px;
	width: 35px;
	cursor: pointer;
	z-index: 100;
}
.fullnavBtn .text{
	position: absolute;
	right: 150%;
	font-family: 'Lato',sans-serif;
	font-weight: bolder;
	font-size: 1.2em;
	transition: 750ms ease;
	animation: hamburgerIconTextOnLoad 1s ease;
}
.fullnavBtn .hamburger {
	background: #000;
	border: none;
	height: 5px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	animation: hamburgerIconOnLoad 1s ease;
}
.fullnavBtn .hamburger:nth-of-type(2) {
	top: 11px;
	animation: hamburgerIconOnLoad 1.5s ease;
}
.fullnavBtn .hamburger:nth-of-type(3) {
	top: 22px;
	animation: hamburgerIconOnLoad 2s ease;
}


.fullnavBtn.active{
	position: fixed;
}
.fullnavBtn.active .text{
	color: #fff;
}
.fullnavBtn.active .top {
	opacity: 0;
	background: #FFF;
}
.fullnavBtn.active .middle {
	transform: translateY(-11px) translateX(0) rotate(-45deg);
	animation: hamburgerIconAnimHoverDisabled;
	background: #FFF;
}
.fullnavBtn.active .bottom {
	transform: translateY(11px) translateX(0) rotate(45deg);
	animation: hamburgerIconAnimHoverDisabled;
	background: #FFF;
}

/* HOVER ANIMATIONS */

.fullnavBtn:hover {
	transition: 250ms ease;
}
.fullnavBtn:hover > .text{
	letter-spacing: 5px;
	transition: 250ms ease;
}
.fullnavBtn:hover > .hamburger{
	animation: hamburgerIconAnimHover 1.5s ease infinite;
}
.fullnavBtn:hover > .hamburger:nth-of-type(2){
	animation: hamburgerIconAnimHover 1.5s ease .25s infinite;
}
.fullnavBtn:hover > .hamburger:nth-of-type(3){
	animation: hamburgerIconAnimHover 1.5s ease .5s infinite;
}


.fullnavBtn.active:hover > .hamburger{
	animation: hamburgerIconActiveAnimHover 2s linear;
}
.fullnavBtn.active:hover > .hamburger:nth-of-type(2){
}
.fullnavBtn.active:hover > .hamburger:nth-of-type(3){
	animation: hamburgerIconActiveAnimHover2 2s linear;
}

/* KEYFRAMES */

@keyframes hamburgerIconOnLoad {
	0% 	{width: 0%;}
	100%{width: 100%;}
}
@keyframes hamburgerIconTextOnLoad {
	0% 	{opacity: 0; left: 0;}
	30%	{opacity: 0;}
	100%{opacity: 1; left: -210%;}
}
@keyframes hamburgerIconAnimHover {
	0% 	{width: 100%;}
	50%	{width: 20%;}
	100%{width: 100%;}
}
@keyframes hamburgerIconAnimDisabled {
	0% 	{width: 100%;}
	100%{width: 100%;}
}
@keyframes hamburgerIconActiveAnimHover {
	0% 	{width: 100%; transform: translateY(11px) translateX(0) rotate(45deg); transform-origin: center;}
	100%{width: 100%; transform: translateY(11px) translateX(0) rotate(404deg); transform-origin: center;}
}
@keyframes hamburgerIconActiveAnimHover2 {
	0% 	{width: 100%; transform: translateY(-11px) translateX(0) rotate(-45deg); transform-origin: center;}
	100%{width: 100%; transform: translateY(-11px) translateX(0) rotate(314deg); transform-origin: center;}
}

/*******************************************/

/* MOBILE */

@media only screen and (max-width: 400px) {
	.fh-icon-wrapper{
		max-height: 26px;
		max-width: 109px;
		top: 7%;
		left: 30px;
	}
}
@media only screen and (max-width: 600px) {
	.fullnav .svg-pc{
		display: none;
	}
	.fullnav .svg-mobile{
		display: block;
	}
	.fh-icon-wrapper{
		top: 4%;
		left: 4%;
	}
	.beverage-icon-wrapper{
		top: 31%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-height: 220px;
		max-width: 300px;
	}
	.food-icon-wrapper{
		top: 70%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-height: 220px;
		max-width: 300px;
	}
	
	/* ANIMATION */
	
	.fullnav.open .beverage-icon-container{
		animation: slideDownBeverageIcon 3s ease;
	}
	.fullnav.open .food-icon-container{
		animation: slideUpFoodIcon 3s ease;
	}	
	.food-icon-container a:hover > .fork-icon{
		transform: translateY(0) translateX(55px) rotate(30deg);
		transition: 1s ease;
	}
	.food-icon-container a:hover > .spoon-icon{
		transform: translateY(0) translateX(-55px) rotate(-30deg);
		transition: 1s ease;
	}
}

/* PC */

@media only screen and (min-width: 600px) {
	.fullnav .svg-pc{
		display: block;
	}
	.fullnav .svg-mobile{
		display: none;
	}
	.fh-icon-wrapper{
		top: 6%;
		left: 6%;
	}
	.beverage-icon-wrapper{
		top: 50%;
		left: 30%;
		transform: translate(-50%, -50%);
	}
	.food-icon-wrapper{
		top: 50%;
		left: 70%;
		transform: translate(-50%, -50%);
		height: 478px;
		width: 500px;
	}
	
	/* ANIMATION */
	
	.fullnav.open .beverage-icon-container{
		animation: slideLeftBeverageIcon 3s ease;
	}
	.fullnav.open .food-icon-container{
		animation: slideRightFoodIcon 3s ease;
	}
	.food-icon-container a:hover > .fork-icon{
		transform: translateY(0) translateX(100px) rotate(30deg);
		transition: 1s ease;
	}
	.food-icon-container a:hover > .spoon-icon{
		transform: translateY(0) translateX(-100px) rotate(-30deg);
		transition: 1s ease;
	}
}

/* Overlay style */

.fullnav {
	font-family: 'Lato',sans-serif;
	position: fixed;
	background: #000;
	top: 0;
	left: 0;
	width: 100%;
	height: 0%;
	border-radius: 0 0 100% 100%;
	opacity: 0;
	visibility: hidden;
	transition: opacity 1s, visibility 1s, height 1s, border-radius 1s;
	overflow: hidden;
	z-index: 100;
}


.fullnav .svg-pc{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.fullnav .svg-mobile{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.fullnav.open {
	height: 100%;
	border-radius: 0;
	opacity: 1;
	visibility: visible;
	z-index:99;
	transition: opacity 1s, visibility 1s, height 1s, border-radius 1s;
}
.fullnav.open .svg-pc{
	animation: svgExpandVertical 2s ease;
}
.fullnav.open .svg-mobile{
	animation: svgExpandHorizontal 2s ease;
}


.beverage-icon-wrapper{
	position: absolute;
	height: 478px;
	width: 500px;
	overflow: hidden;
}
.beverage-icon-container{
	position: absolute;
	width: 100%;
	height: 100%;
}
.beverage-icon-container img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.beverage-icon-container img:hover{
	animation: beverageIconShake 1s ease infinite;
}


.food-icon-wrapper{
	position: absolute;
	height: 478px;
	width: 500px;
	overflow: hidden;
}
.food-icon-container{
	position: absolute;
	width: 100%;
	height: 100%;
}
.food-icon-container img{
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.fork-icon{
	position: absolute;
	left: -15%;
	transition: 1s ease;
}
.spoon-icon{
	position: absolute;
	left: 15%;
	transition: 1s ease;
}

/* FOODHUB ICON */

.fh-icon-wrapper{
	position: absolute;
	height: 33px;
	width: 144px;
	overflow: hidden;
	transition: 750ms ease;
}
.fh-icon-wrapper:hover{
	transform: scale(1.2);
	transform-origin: 0 0;
	transition: 250ms ease;
}
.fh-icon-container{
	position: absolute;
	width: 100%;
	height: 100%;
}
.fh-icon-container img{
	width: 100%;
	height: 100%;
	filter: invert(1);
}

/* DROPDOWN MENU FOOTER */

.dropdown-menu-footer{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0;
}
.footer-link{
	font-size: 1em;
	font-weight: bold;
	color: #fff;
	padding: 10px 20px 20px 10px;
	float: right;
	overflow: hidden;
    text-decoration: none;
}
.footer-link:hover,
.footer-link:focus,
.footer-link:active{
	color: #fff;
}
.footer-link::after{
	content: '';
    width: 100%;
    height: 2px;
	display: block;
    background: #fff;
	transform: scale(0);
	transform-origin: center;
    transition: .5s ease;
}
.footer-link:hover::after,
.footer-link:focus::after,
.footer-link:active::after{
	transform: scale(1);
}

/* POP UP MODAL */

.popup{
	position: fixed;
	top: -100vh;
	left: 0;
	z-index: 101;
	background: rgba(0,0,0, 0.75);
	width: 100vw;
	height: 100vh;
	opacity: 0;

	-webkit-transition: opacity  0.35s ease;
	-moz-transition: opacity 0.35s ease;
	-o-transition: opacity 0.35s ease;
	transition: opacity 0.35s ease;
}
.popup .popUpContainer{
	width: 100%;
	max-width: 500px;
	position: fixed; /* To avoid scroll to target */
	left: 50%;
	top: -100vh;
	-webkit-transition: top  0.35s ease;
	-moz-transition: top 0.35s ease;
	-o-transition: top 0.35s ease;
	transition: top 0.35s ease;

	/* Trick to properly center the element by using negative 
	1/2 length of element as margin left and top */
	margin-left: -250px;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	border-radius: 10px;
	z-index: 9999999; 
}
.popup h2{
	font-family: Courier New;
	font-weight: bold;
	padding: 0.5em;
	text-align: center;
	color: #000;
	margin: 0;
}
.popup article{
	margin: 20px;
	background-color: #fff;
	border-radius: 10px;
	font-size: 1em;
	text-align: center;
}
.about{
	font-family: Miriam;
}
.contact{
	font-family: Verdana;
}
.shop-gallery{
	color: #000;
	overflow: hidden;
}
/* The cancel button on popup dialog */
.popup a.closePopUp{
	font-family: verdana;
	color: #000;
	position: absolute;
	top: 0.2em;
	right: 0.375em;
	margin: 0;
	padding: 5px;
	font-weight: bold;
	font-size: 1.5em;
	text-decoration: none;
	transition: 1s ease;
}
/* The cancel button on popup dialog */
.popup a:hover{
	transform: scale(1.2);
	transition: .35s ease;
}
/* When popup is targeted, by clicking on link with #popup in HTML */
.popup:target{
	opacity: 1;
	top: 0;
}
.popup .closePopUpOutSide{
	position: absolute;
	left:0;
	width: 100%;
	height: 100%;
	z-index: 9999991; 
}
.popup:target .popUpContainer{
	top: 50px;
	-webkit-transition: top  1s ease;
	-moz-transition: top 1s ease;
	-o-transition: top 1s ease;
	transition: top 1s ease;
}

/* KEYFRAMES */

@keyframes svgExpandVertical{
	0%	{height: 3%;}
	50%	{height: 3%;}
	100%{height: 80%;}
}
@keyframes svgExpandHorizontal{
	0%	{width: 2%;}
	50%	{width: 2%;}
	100%{width: 80%;}
}


@keyframes slideLeftBeverageIcon{
	0%	{left: 100%;}
	60%	{left: 100%;}
	100%{left: 0%;}
}
@keyframes slideDownBeverageIcon{
	0%	{top: 100%;}
	60%	{top: 100%;}
	100%{top: 0%;}
}
@keyframes beverageIconShake {
	0%	{transform: rotate(0deg);}
	10%	{transform: rotate(-10deg);}
	20%	{transform: rotate(10deg);}
	30%	{transform: rotate(-10deg);}
	40%	{transform: rotate(10deg);}
	50%	{transform: rotate(-10deg);}
	60%	{transform: rotate(10deg);}
	70%	{transform: rotate(-10deg);}
}


@keyframes slideRightFoodIcon{
	0%	{left: -100%;}
	60%	{left: -100%;}
	100%{left: 0%;}
}
@keyframes slideUpFoodIcon{
	0%	{top: -100%;}
	60%	{top: -100%;}
	100%{top: 0%;}
}

@media  (max-width: 600px) {
	.popup .popUpContainer{
		width: 90%;
		max-width: none;
		left: 5%;
		margin-left: auto;
	}
	.popup ul{
		padding: 0 1em 0 1em;
	}
	.popup:target .popUpContainer{
		top: 25px;
		-webkit-transition: top  0.35s ease;
		-moz-transition: top 0.35s ease;
		-o-transition: top 0.35s ease;
		transition: top 0.35s ease;
	}
	.popup article{
		line-height: 1em;
	}
}