@import url(http://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900);


/* Overlay style */
.fullnav {
	font-family: 'Lato',sans-serif;
	position: fixed;
	background: linear-gradient(to bottom left, #996633 0%, #a78873 100%);
	top: 0;
	left: 0;
	width: 100%;
	height: 0%;
	opacity: 0;
	visibility: hidden;
	transition: opacity 1s, visibility 1s, height 1s;
	overflow: hidden;
}
.fullnav.open {
	opacity: 1;
	visibility: visible;
	height: 100%;
	z-index:99;
}
.fullnav.open li {
	animation: fadeInRight .5s ease forwards;
	animation-delay: .85s;
}
.fullnav.open li:nth-of-type(2) {
	animation-delay: .9s;
}
.fullnav.open li:nth-of-type(3) {
	animation-delay: 1.95s;
}
.fullnav.open li:nth-of-type(4) {
	animation-delay: 1s;
}
.fullnav nav {
	position: relative;
	height: 70%;
	top: 50%;
	transform: translateY(-50%);
	font-size: 35px;
	font-family: 'Lato',sans-serif;
	font-weight: 400;
	text-align: center;
}
.fullnav ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	position: relative;
	height: 100%;
}
.fullnav ul li {
	display: block;
	height: 25%;
	height: calc(100% / 4);
	min-height: 50px;
	position: relative;
	opacity: 0;
}
.fullnav ul li a {
	display: block;
	position: relative;
	color: #FFF;
	text-decoration: none;
	overflow: hidden;
}
.fullnav ul li a:hover:after, .fullnav ul li a:focus:after, .fullnav ul li a:active:after {
	width: 100%;
}
.fullnav ul li a:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0%;
	transform: translateX(-50%);
	height: 3px;
	background: #FFF;
	-webkit-transition: .35s;
	transition: .35s;
}

@keyframes fadeInRight {
	0% {opacity: 0; left: 20%;}
	100% {opacity: 1; left: 0;}
}


/* Overlay style button*/

.fullnavBtn {
	position: absolute;
	top: 20%;
	right: 10%;
	height: 27px;
	width: 35px;
	cursor: pointer;
	z-index: 100;
	transition: 750ms linear;
}
.fullnavBtn:hover {
	transform: scale(1.2);
	transition: 250ms linear;
}
.fullnavBtn .text{
	position: absolute;
	right: 150%;
	font-family: 'Lato',sans-serif;
	font-weight: bolder;
	font-size: 1.2em;
	animation: hamburgerMenuTextAnim 1s ease;
}
.fullnavBtn .hamburger {
	background: #000;
	border: none;
	height: 5px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	transition: .35s ease;
	animation: hamburgerMenuAnim 1s ease;
}
.fullnavBtn .hamburger:nth-of-type(2) {
	top: 11px;
	transition: .35s ease;
	animation: hamburgerMenuAnim 1.5s ease;
}
.fullnavBtn .hamburger:nth-of-type(3) {
	top: 22px;
	transition: .35s ease;
	animation: hamburgerMenuAnim 2s ease;
}

.fullnavBtn.active{
	position: fixed;
	top: 8%;
	right: 2%;
	transition: 0s;
}
.fullnavBtn.active .text{
	color: #fff;
}
.fullnavBtn.active .top {
	opacity: 0;
	transition: .35s ease;
	background: #FFF;
}
.fullnavBtn.active .middle {
	transform: translateY(-11px) translateX(0) rotate(-45deg);
	transition: .35s ease;
	background: #FFF;
}
.fullnavBtn.active .bottom {
	transform: translateY(11px) translateX(0) rotate(45deg);
	transition: .35s ease;
	background: #FFF;
}

@keyframes hamburgerMenuAnim {
	0% {opacity: 0; width: 0%;}
	100% {opacity: 1; width: 35px;}
}
@keyframes hamburgerMenuTextAnim {
	0% 	{opacity: 0; left: 0;}
	30%	{opacity: 0;}
	100%{opacity: 1; left: -210%;}
}