@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Impact&display=swap');


body, html{
    height: 100%;
	width: 100%;
	animation: slideDown 1.5s;
}
html::-webkit-scrollbar {
    display: none;
}
html {
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}
body{
    background-color: #ffffff;
    background-attachment: fixed;
    background-position: center;
    background-repeat: norepeat;
    background-size: cover;
}

@keyframes slideDown {
	0% {margin-top: -100%; opacity: 0;}
	100% {margin-top: 0; opacity: 1;}
}
@keyframes fadeIn {
  0%	{opacity: 0;}
  100%	{opacity: 1;}
}

/* TOP SECTION */

body .top-section{
	position: relative;
	height: 100vh;
}
section .header-wrapper{
	position: absolute;
	top: 5%;
	left: 5%;
	right: 5%;
}
nav .logo{
	width: 100px;
	margin: 0;
	transition: 750ms linear;
}
nav .logo:hover{
	transform: scale(1.2);
	transition: 250ms linear;
}
a .navbar-icon{
	height: 100%;
	width: 100%;
}

.slideshow{
	position: absolute;
	top: 20%;
	left: 15%;
	width: 40%;
	height: 50%;
	overflow: hidden;
}
.img-container{
	position: absolute;
	height: 100%;
	width: 100%;
	animation: slideUp 15s infinite;
}
.slide-img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	float: left;
}

@keyframes slideUp {
	20% {top: 0;}
	40% {top: -100%;}
	50% {top: -100%;}
	70% {top: -200%;}
	80% {top: -200%;}
	100%{top: 0;}
}

/* CONTENT */

.content{
    height: 100%;
    height: 100vh;
    width: 100%;
    width: 100vw;
    min-width: 100%;
}
.container-color{
    background-color:#a78873;
}
.container-fluid { 
    padding: 0;
    margin-right: 0;
    margin-left: 0;
}

/* PARALLAX */

body .parallax1{
    height: 100%;
    background-attachment: fixed;
    background-position: top;
    background-repeat: norepeat;
    background-size: cover;
}

/* FOOTER */

footer{
	padding: 50px;
}