@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Impact&display=swap');


body, html{
	animation: bodyOnLoad 1s ease;
}
html::-webkit-scrollbar {
    display: none;
}
html {
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

/* KEYFRAMES */

@keyframes bodyOnLoad {
  0%	{opacity: 0;}
  100%	{opacity: 1;}
}
@keyframes logoOnLoad{
	0%	{transform: scale(0);}
	100%{transform: scale(1);}
}
@keyframes slideshowOnLoad {
	0% {opacity: 0; width: 0%;}
	100% {opacity: 1; width: 40%;}
}
@keyframes logoIconShake {
	0%	{transform: rotate(0deg);}
	10%	{transform: rotate(-20deg);}
	20%{transform: rotate(20deg);}
	30%	{transform: rotate(-20deg);}
	40%{transform: rotate(20deg);}
	50%	{transform: rotate(-20deg);}
	60%{transform: rotate(20deg);}
	70%	{transform: rotate(-20deg);}
}
@keyframes slideshowScroll {
	12.5% 	{top: 0;}
	25% 	{top: -100%;}
	37.5% 	{top: -100%;}
	50% 	{top: -200%;}
	67.5% 	{top: -200%;}
	75% 	{top: -300%;}
	87.5%	{top: -300%;}
	100%	{top: -400%;}
}

/* TOP SECTION */

body .top-section{
	position: relative;
	height: 100vh;
}
section .header-wrapper{
	position: absolute;
	top: 5%;
	left: 5%;
	right: 5%;
}
nav .logo{
	width: 100px;
	margin: 0;
	border-radius: 50%;
	transition: 750ms linear;
	animation: logoOnLoad 2s ease;
}
nav .logo:hover{
	transform: scale(1.2);
	transition: 250ms linear;
}
a .navbar-icon{
	height: 100%;
	width: 100%;
	border-radius: 50%;
}
a .navbar-icon:hover{
	height: 100%;
	width: 100%;
	border-radius: 50%;
	animation: logoIconShake 1s ease infinite;
}

.slideshow{
	position: absolute;
	top: 20%;
	left: 15%;
	width: 40%;
	height: 50%;
	overflow: hidden;
	animation: slideshowOnLoad 2s ease;
}
.img-container{
	position: absolute;
	height: 100%;
	width: 100%;
	animation: slideshowScroll 20s ease infinite;
}
.slide-img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	float: left;
}

/* CONTENT */

.content{
    height: 100%;
    height: 100vh;
    width: 100%;
    width: 100vw;
    min-width: 100%;
}
.container-color{
    background-color: #a78873;
}
.container-fluid { 
    padding: 0;
    margin-right: 0;
    margin-left: 0;
}

/* PARALLAX */

.parallax-container{
	height: 100vh;
	width: 100vw;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

/* FOOTER */

footer{
	padding: 50px;
}