@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Impact&display=swap');


body, html{
    height: 100%;
}
html::-webkit-scrollbar {
    display: none;
}
html {
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}
body{
    background-color: #ffffff;
    background-attachment: fixed;
    background-position: center;
    background-repeat: norepeat;
    background-size: cover;
}

/* PARALLAX */

.parallax1{
    background-image: url(assets/img/harambe.webp);
    height: 100%;
    background-attachment: fixed;
    background-position: top;
    background-repeat: norepeat;
    background-size: cover;
}

/* TOP SECTION */

.carousel-canvas{
	position:absolute;
	top: 10%;
	left: 10%;
	margin: 50px;
	max-width: 500px;
}
.img-slider{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

body .top-page{
	position: relative;
	height: 100vh;
}
section .navbar-header{
	position: absolute;
	top: 5%;
	left: 5%;
	right: 5%;
}
nav .navbar-brand{
	height: 100px;
	width: 100px;
	transition: 750ms linear;
}
nav .navbar-brand:hover{
	transform: scale(1.2);
	transition: 250ms linear;
}

/* CONTENT */

.content{
    height: 100%;
    height: 100vh;
    width: 100%;
    width: 100vw;
    min-width: 100%;
}
.container-color{
    background-color:#a78873;
}
.container-fluid { 
    padding: 0;
    margin-right: 0;
    margin-left: 0;
}

/* FOOTER */

footer{
	padding: 50px;
}
#footer-table{
    width: 100%;
    text-align: center;
}
#footer-logo{
    width: 20%;
}
.footer-icon{
	transition: 750ms linear;
}
.footer-icon:hover{
	transform: scale(1.2);
	transition: 250ms linear;
}
#footer-copyright, #footer-contact{
    width: auto;
}
.footer-p{
    margin: 0;
}
.copyright-p{
    font-size: 2vh;
}
.contact-p{
    font-size: 2vh;
}